
.nav{
    background-color:#ffd43b;
    box-shadow: 0 0 10px rgb(44, 44, 0, 0.2);
  }
  
  .nav h2{
    color:#fff;
    padding: 0.8rem;
    /* font-family: 'Poppins', sans-serif; */
    font-family: "McLaren", cursive;
    margin-left: 20px;
    font-weight: 200;
  }
  
  .form{
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  
   
  }
  
  
  .form input{
    border: none;
    padding: 10px;
    display: block;
    width:100%;
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
    font-family: "Montserrat", sans-serif;
  
    
  
  }
  
  .form input:focus{
    outline: none;
  }
  
  .form textarea{
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    /* height: max-content; */
    resize: none;
    font-family: "Montserrat", sans-serif;
  
  } 
  
  
  .form textarea:focus{
    outline: none;
  }
  
  .btn{
    
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd43b;  
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color: #fff; 
  }
  
  .btnAdd{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    position: absolute;
    bottom: -15px;
    right: 10px;
    
  }
  
  .notes{
    display: flex;
   
    flex-wrap:wrap;
   
  
  }
  
  .note{
    width: 250px;
    box-shadow: 0 0 32px rgba(85, 84, 84, 0.219);
    padding: 1rem 1rem;
    margin: 1rem;
    background-color: #fff;
    border-radius: 10px; 
    overflow: hidden;
    
   
   
    
  }
  
  .note hr{
    margin: 10px 0px;
   
    
  }
  .note p{
    
    /* font-family: 'Poppins', sans-serif; */
    font-family: "Montserrat", sans-serif;
  
  
    
  }
   .note h1{
    text-align: start;
    font-family: "Montserrat", sans-serif;
   
     
  
   }
  
  
  .btnDelete{
   
    padding: 10px;
    
    width:34px;
    height: 34px;
    border-radius: 50%; 
    margin-top:1rem;
    text-align: center;
    position: relative;
    float: right;
  
  }
  
  footer{
    width: 100%;
   
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #ccc;
    
    
  }
  